{% extends 'studentEntry/base.html' %}

{% block content %}
<div id="bg">
    <div class="center-card">
        <div class="card custom-card">
            <div class="card-body text-center" style="color:white;">
                <hr>
                <h3 class="card-title">STUDENT REGISTRATION</h3>
                <hr>
                <p>Simplify Your Student Registration Process! This Student Entry platform eliminates paper forms and offers a streamlined way to manage student data. Easily add new students, access existing information, and keep records accurate with minimal effort.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
